* {
  font-family: "Trirong", serif;
}


body {
  background: black;
}
.header1 {
  padding: 0.5rem;
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("space.jpeg");
  background-size: cover;
}
.headshot {
  border-radius: 50%;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
  color: white;
  padding: 0.5rem;
  list-style-type: none;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
}
li a:hover {
  background-color: pink;
}
li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: green;
}

main {
  display: flex;
  background: black;
}

.col-1 {
  background: black;
  color: white;
  border: solid black 5px;
  border-radius: 25px;
  width: 50%;
}
.col-2 {
  background: black;
  color: white;
  border: solid black 5px;
  border-radius: 25px;
  width: 50%;
  height: 38rem;
  padding-left: 2rem;
}

@media (min-width: 667px) {
  html {
    font-size: 20px;
  }
  .streetlamp {
    height: 200px;
  }
}

.header2 {
  padding: 5rem;
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("background2.jpg");
  background-size: cover;
}
h2 {
  color: white;
}
.grid {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  grid-gap: 10px;
  padding-top: 5px;
}

.grid div {
  width: 100%;
  height: relative;
  padding-bottom: 100%;
  background: white;
  text-align: center;
}
#School-Work {
color: white;
background-color: #111;
white-space:pre-line;

}