.banner {
    position: relative;
    background-image: url("../space.jpeg");
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 2rem;
    padding: 60px 0;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    height: 300px;
}

.profile-pic-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}